In [110]:
import pandas as pd
import pickle

In [111]:
with open('Winsorizer_age.pkl', 'rb') as file_1:
    winso1 = pickle.load(file_1)
with open('Winsorizer_balance.pkl', 'rb') as file_2:
    winso2 = pickle.load(file_2)
with open('best_model_gb.pkl', 'rb') as file_3:
    model = pickle.load(file_3)

In [112]:
# Create dummy data to test the function
data = {'age': [20, 40],
        'job': ['student','management'],
        'marital': ['single', 'married'],
        'education': ['tertiary', 'tertiary'],
        'default': ['no', 'no'],
        'balance': [1000, 5000],
        'housing': ['no', 'yes'],
        'loan': ['no', 'no'],
        'contact': ['cellular', 'cellular'],
        'day': [19, 19],
        'month': ['may', 'may'],
        'duration': [261, 149],
        'campaign': [1, 1],
        'pdays': [-1, -1],
        'previous': [0, 0],
        'poutcome': ['unknown', 'unknown']
        }

In [113]:
# check data dummy
data = pd.DataFrame(data)
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,20,student,single,tertiary,no,1000,no,no,cellular,19,may,261,1,-1,0,unknown
1,40,management,married,tertiary,no,5000,yes,no,cellular,19,may,149,1,-1,0,unknown

In [114]:
# Making predictions
pred = model.predict(data)
for i in range(len(pred)):
    if pred[i] == 1:
        print('yes')
    else:
        print('no')

print(pred)

no
no
[0 0]